.tweets {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--Background-Color);
  padding: 0.75rem;
}
.tweet_body {
  width: 100%;
}
.tweet_body > img {
  border-radius: 20px;
}
.tweet_footer {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.verify_icon {
  font-size: 1rem !important;
  color: var(--Text-Color);
}
.tweet_header {
  padding: 0 0.5rem;
}
.displayImage {
  width: 100%;
  margin-top: 1rem;
}
